@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
     font-family: 'Montserrat', sans-serif;
     scroll-behavior: smooth;
      
 }

 * {
    margin: 0;
    padding: 0;   
}
body {
    max-width: auto;
    margin: auto;
}
/* HEADER */
header {
    width: 100%;
    
    height: 90vh;
    background-position: center;
    background-image: url(../img/fone.jpg) ;
    background-size: cover;
    color: white;   
    background-attachment: fixed; 
    
}




nav {
    display: flex;
    flex-direction: column;
    
    
}


.logo{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-top: 15px;
}

header .menu a {
    text-decoration: none;
    
    margin: 17px;
    font-weight: bold;
    color: white;   
}




.social img {
    font-size: 10px;
    height: 20px;
    border: 6px solid white;
    border-radius: 50%;
    background-color: white;
    margin: 4px;
    
  
}
.social {
    display: flex;
    justify-content: center;
    
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;  
    list-style-type: none;   
}
header .banner {
    min-height: 435px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    
    
}




.top {
    
    font-size: 65px;
    font-style: italic;
    
}
.bot {
    
   font-style: italic;
   font-size: 20px;
}

@media (min-width: 480px) {
    .logo{
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
      
}
    nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}    
.menu {
    display: flex;
    justify-content: space-between;
    align-items:  center;  
    list-style-type: none;  
    flex-direction: row; 
}
.social img{
    margin-top: 20px;
}
header .banner {
    min-height: 700px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

}









/* MAIN */
/* about-studio */
.about-studio {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#about-studio {
    color: #181A3F;
}
.about-studio {
    background-color: white;
    color: #181A3F;
}

.image-studio img {
    max-width: 300px;
    max-height: 150px;    
}
.image-studio{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
#about-us {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.about-studio p {
    display: flex;
    align-content: center;
    margin: 0 50px 0 50px;
    text-align: justify;

}

@media (min-width: 480px) {
    .about-studio {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    } 
    .text-studio {
        display: flex;
        justify-content: center;
        
        flex-direction: column;
    }
    .image-studio img{
        max-width: 573px;
        max-height: 277px;
    }
    .image-studio {
        margin-left: 372px;
        margin-top: 106px;
    }
    #about-us {
        display: flex;
        justify-content: left;
        margin-left: 30px;
    }
    .text-studio p {
        display: flex;
        justify-content: left;
        margin: 30px 374px 0px 30px;
        text-align: justify;
    }
}
        
















/* about-technology*/
.about-technology {
    background-color: #181A3F;
    color: white;
}
#kind-of-3dprint {
    display: flex;
    justify-content: center;
    
}
.kind-of-3dprint {
    background-color: white;    
    
    
}
.kind {
    display: flex;
    justify-content: space-between;
}

.kind-of-3dprint article img{   
    height: 140px;
    width: 250px;
    border-radius: 5px;
}
.kind-of-3dprint article {
    
    width: 250px;
    height: 140px;
    border: 30px solid #181A3F;
    border-radius: 5px;
    color: white;
    margin: 1px;
    background-color:#181A3F;   
}

.about-studio img {
    width: 570px;
    height: 270px;
   border-radius: 5px;
}

.products {
    background-color:#181A3F ;
    color: white;
}
.products a {
    color: white;
}

/* PRICE */

.price-one {
    width: 200px;
    border: 30px solid #1ADCEE;
    border-radius: 5px;
    color: white;
    margin: 1px;
    background-color: #1ADCEE;
}
.price-two {
    width: 200px;
    border: 30px solid #1ADCEE;
    border-radius: 5px;
    color: white;
    margin: 1px;
    background-color: #1ADCEE;
}
.price-three {
    width: 200px;
    border: 30px solid #1ADCEE;
    border-radius: 5px;
    color: white;
    margin: 1px;
    background-color: #1ADCEE;
}